html, body {
    min-height: 100vh;
    padding: 0;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.anchor-right {
    position: absolute;
    right: 0;
}
